* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.location-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.location-card-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding: 40px 32px;
}
.location-info-title {
  width: 75.103px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #f0d1a5;
  color: #fff;
  text-transform: uppercase;
}
.title1 {
  width: 138px;
  height: 28px;
  background: #c2e297;
}

.location-card-info-contact {
  display: flex;
  flex-direction: column;
}
.location-card-title-description {
  width: 208px;
height: 36px;
  color: #907e82;
}
.location-card-schedule {
  color: #ffa5ba;
}
.location-card-info-contact a {
  color: #907e82;
}
.location-card-info-contact a:hover {
  color: #d41443;
}

/* Modal Btns */
.modal-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 61px;
  gap: 10px;
}

.modal-btns .button {
  color: #fff;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  /* padding: 20px; */
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.modal-btns .our-location-btn {
  width: 198px;
  height: 44px;
  background-color: #d41443;
  border-color: #d41443;
}
.modal-btns .franchise-btn {
  width: 168px;
  height: 44px;
  background-color: #fff;
  border-color: #fff;
  color: #d41443;
}
.modal-btns .franchise-btn:hover {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .location-card-info {
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.56px;
    padding: 40px 32px;
  }
  .modal-btns {
    display: flex;
    flex-direction: row;
  }
  .location-card-info .location-card-title-description {
    width: 159px;
    height: 65px;
    font-size: 14px;
    line-height: 166%; /* 23.24px */
    letter-spacing: 0.56px;
  }
}

@media screen and (min-width: 1200px) {
  .location-card-info {
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%;
    letter-spacing: 0.64px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
  }

  .location-card-info .location-card-title-description{
    width: 243px;
height: 50px;
  }
  .location-card-info:hover{
    transform: scale(1.2);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}
