* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --location-title-color1: #f0d1a5;
  --location-title-color2: #c2e297;
  --schedule-color:#ffa5ba;
  --location-card-text: #907e82;
  --button-background-color: #d41443;
  --button-text-color: #d41443;
  --color-white: #fff;
  --franchise-background-hover-color:#ecebeb;
}

body {
  width: 100%;
}

/* Products section */
.products {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.products-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.products-title h2 {
  color: #ffa5ba;
  font-size: 18px;
}
.products-title h1 {
  color: #d41443;
  font-size: 34px;
  letter-spacing: 1.36px;
}

.products-card {
  width: 280px;
  height: 629px;
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}
.products-card .icecream-img {
  position: absolute;
  top: 0;
  width: 280px;
  height: 280px;
}
.products-card-details {
  width: 280px;
  height: 489px;
  border-radius: 24px;
}
#card1 {
  background: #ffb8ca;
}
#card2 {
  background: #f0d1a5;
}
#card3 {
  background: #c2e297;
}
.products-card-details-content {
  position: relative;
  top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: #fff;
  text-align: center;
  font-family: "Titan One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}
.products-card-details-content h2 {
  font-size: 20px;
  animation: bounce 2000ms infinite 10ms;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.products-card-details-content p {
  width: 216px;
  height: 124px;
  text-align: center;
  text-align: center;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 152%; /* 21.28px */
  letter-spacing: 0.56px;
}
.products-card-details-content button {
  background: none;
  border: none;
  cursor: pointer;
}
/* Contact section */
.location-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.location-card-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  border-radius: 24px;
  background: var(--color-white);
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding: 40px 32px;
}
.location-info-title {
  width: 75.103px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: var(--location-title-color1);
  color: var(--color-white);
  text-transform: uppercase;
  animation: animate30 2000ms infinite 10ms;
  /* box-shadow: 11px 10px 12px -3px rgba(212, 20, 0, 0.72); */
}
@keyframes animate30 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.title1 {
  width: 138px;
  height: 28px;
  background: var(--location-title-color2);
}

.location-card-info-contact {
  display: flex;
  flex-direction: column;
}
.location-card-title-description {
  width: 208px;
  height: 36px;
  color: var(--location-card-text);
}
.location-card-schedule {
  color: var(--schedule-color);
}
.location-card-info-contact a {
  color: var(--location-card-text);
}
.location-card-info-contact a:hover {
  color: var(--button-text-color);
}

/* Modal Btns */
.modal-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 61px;
  gap: 10px;
}

.modal-btns .button {
  color: var(--color-white);
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  /* padding: 20px; */
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.modal-btns .our-location-btn {
  width: 198px;
  height: 44px;
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
}
.modal-btns .franchise-btn {
  width: 168px;
  height: 44px;
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--button-text-color);
}
.modal-btns .franchise-btn:hover {
  background-color: var(--franchise-background-hover-color);
}

@media screen and (min-width: 768px) {
  .products-title h2 {
    color: #ffa5ba;
    font-size: 26px;
  }
  .products-title h1 {
    color: #d41443;
    font-size: 48px;
    letter-spacing: 1.92px;
  }
  .products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .products-card {
    width: 224px;
    height: 611px;
  }
  .products-card-details {
    width: 224px;
    height: 473px;
  }
  .products-card .icecream-img {
    width: 224px;
    height: 224px;
  }
  .products-card-details-content h2 {
    font-size: 20px;
    letter-spacing: 0.8px;
  }
  .products-card-details-content p {
    font-size: 14px;
    letter-spacing: 0.8px;
  }

  .location-cards {
    display: flex;
    flex-direction: row;
  }
  .location-card-info {
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.56px;
    padding: 40px 32px;
  }
  .modal-btns {
    display: flex;
    flex-direction: row;
  }
  .location-card-info .location-card-title-description {
    width: 159px;
    height: 65px;
    font-size: 14px;
    line-height: 166%; /* 23.24px */
    letter-spacing: 0.56px;
  }
  .location-info-title {
    animation: animate30 4000ms infinite 5ms;
    /* box-shadow: 11px 10px 12px -3px rgba(212, 20, 0, 0.72); */
  }
  @keyframes animate30 {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .products-title h2 {
    color: #ffa5ba;
    font-size: 30px;
  }
  .products-title h1 {
    color: #d41443;
    font-size: 58px;
    letter-spacing: 3.48px;
  }
  .products-card {
    width: 368px;
    height: 796px;
  }
  .products-card-details {
    width: 368px;
    height: 535px;
  }
  .products-card .icecream-img {
    width: 368px;
    height: 394px;
  }
  @keyframes animate40 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .products-card .icecream-img:hover {
    animation: animate40 2000ms infinite 1ms;
  }
  .products-card-details-content h2 {
    font-size: 30px;
    letter-spacing: 1.2px;
  }

  .products-card-details-content p {
    width: 304px;
    height: 134px;
    font-size: 16px;
    font-weight: 700;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
  }

  .location-card-info {
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%;
    letter-spacing: 0.64px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
  }

  .location-card-info .location-card-title-description {
    width: 243px;
    height: 50px;
  }
  /* @keyframes animate30 {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  } */

  .location-card-info:hover {
    transform: scale(1.2);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    /* animation: animate30 2000ms infinite 10ms; */
  }
}
